@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 480px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
	position: relative;
	top: 2px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    position: relative;
    bottom: 0%;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

/* FLASHCARDS CSSS */


@media (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%;
    }
  }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
  }
  
  body {
    height: 100vh;
    background-color: #ece0e8;
  }
  
  .artboard {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    height: 70%;
    position: relative;
  }
  @media (max-width: 37.5em) {
    .artboard {
      padding: 1rem;
    }
  }
  
  .card {
    flex: initial;
    position: relative;
    height: 30rem;
    width: 48rem;
    perspective: 200rem;
    margin: 2rem;
  }
  .card__side {
    height: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* We don't want to see the back part of the element. */
    backface-visibility: hidden; /* We don't want to see the back part of the element. */
    border-radius: 3px;
    overflow: hidden; /* The image is overflowing the parent. */
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side--front {
    /* background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg); */
  background-color: #C1C3C6
  }
  .card__side--back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card__theme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 54%;
    width: 90%;
    text-align: center;
  }
  .card__theme-box {
    color: #fff;
    margin-bottom: 8rem;
  }
  .card__subject {
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .card__title {
    font-family: "VT323", monospace;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
  }
  .card__cover {
    position: relative;
    background-size: cover;
    height: 14rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
  .card__heading {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .card__heading-span {
    font-family: "VT323", monospace;
    font-size: 4.2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: #fff;
  }
  .card__details {
    font-family: "Inconsolata", monospace;
    padding: 4rem 2rem;
  }
  
  .card__details p{
    width: 100%;
    margin: 0 auto;
    color: #1A1C1D;
   
    font-size: 1.8rem;
    text-align: center;
  }
  /* .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  .card__details ul li {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
  }
  .card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  } */
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none;
    }
    .card__side--front {
      -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card__side--back {
      transform: rotateY(0);
    }
    .card:hover .card__side--front {
      transform: rotateY(0);
    }
    .card__details {
      padding: 3rem 2rem;
    }
    .card__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }
    .card__theme-box {
      margin-bottom: 1.5rem;
    }
    .card__title {
      font-size: 4rem;
    }
  }
